@model CleanArch.Application.ViewModels.CourseViewModel 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<div class="container body-content">
    <div class="row course-content">
        @foreach (var course in Model.Courses)
        {
            <div class="col">
                <a asp-action="Show" asp-route-id="@course.Id">
                    <div class="course-image-container">
                        <div class="course-image" style="background-image: url(@course.ImageUrl)"></div>
                    </div>
                </a>
                <span>@course.Name</span>
            </div>
        }
    </div>
</div>
